* {
  background: #2c2c54;
  white-space: nowrap;
  color: #f7f1e3;
  text-align: center;
}

div, p {
  background: transparent;
}

input[type=range] {
	-webkit-appearance: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 20px;
	background: #f7f1e3;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: goldenrod;
	margin-top: -1px;
	box-shadow: 2px 2px 2px black;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #227093;
}

.UI_wrapper {
  display: grid;
  grid-auto-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.ui_item {
  margin: 30px;
}

.ui_item:nth-child(23) {
  grid-column: 1 / span 2;
}

.fieldset {
  border: 1px solid deeppink;
  background: #262645;
}

.fieldset:hover {
  box-shadow: 2px 2px 30px black;;
}

button {
  height: auto;
  width: auto;
  border: none;
  background: #ff5252;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  padding: 10px;
}

input {
  border: none;
  height: 30px;
  border-radius: 4px;
  background: whitesmoke;
  color: #141414;
  font-size: 16px;
  text-align: left !important;
  padding-left: 5px;
}

#data {
  visibility: hidden;
}

#data_shown {
  height: auto;
  width: auto;
  padding: 10px;
  background: tomato;
  color: whitesmoke;
  float: left !important;
  margin-left: 280px;
}

#log_area {
  background: #161633;
  overflow: scroll;
  margin: 0px !important;
  border-radius: 8px;
  color: whitesmoke;
}

.title, .subtitle {
  text-align: center;
}
.title {
  font-size: 40px;
  font-style: italic;
}

.subtitle {
  margin-top: -30px;
  font-size: 24px;
}

.legend {
	font-style: italic;	
	font-weight: bold;
	margin-bottom: 5px;
  font-size: 20px;
}

.type{
	font-style: italic;	
}

.tickmarks {
	background: repeating-linear-gradient(to right, 
    #ccc, 
    #ccc 10%, 
    #000 10%, 
    #000 11%, 
    #ccc 11%, 
    #ccc 20%);
}

.log {
	height: 300px;
	overflow-y: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

.wrapper {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 45% 10% 45%;
  gap: 10px;
  width: 80vw;
  height: 70vh;
  margin-top: 70px;
}

.item {
  background: transparent;
  padding: 10px;
}

.item:nth-child(2) {
  align-self: center;
  text-align: center;
}

.icon {
  fill: whitesmoke;
  font-size: 60px;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;      
  background: #d1ccc0;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-family: arial;
  border-radius: 4px;
}

.hold_plot {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;      
  background:#2c2c54;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-rows:  45% 10% 45%;
    grid-template-columns: 100%;
  }
  svg {
    transform: rotate(90deg);
  }
}

#train_button {
  margin-bottom: 40px;
}

.toggle_wrapper {
  display: flex;
  background: transparent;
  width: 80%;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 50px;
}

.ball {
    width : 25px;
    height : 25px;
    background : red;
    border-radius : 50%;
    margin-left :  0px;
    cursor: pointer
}

.ball_container {
  width: 60px;
  background: #786fa6;
  border-radius: 20%;
}

#ball_id {
  margin-left : 35px;
  background: limegreen;
}

.description {
  margin-top: 20px;
}